/Exercicios-Primeiro-Semestre.dev
/Exercicios-Primeiro-Semestre.layout

*.exe
*.clg
atividadeSupervisionada02/ativ02ex09.png
*.zip
*.cpp
*.dev
*.layout
*.txt
atividadeExtra/dados_funcionarios - Copia.bin
atividadeExtra/dados_funcionarios1.bin
atividadeExtra/dados_funcionarios0.bin
atividadeExtra/dados_funcionarios1 - Copia.bin
atividadeExtra/dados_funcionarios2 - Copia.txt
atividadeExtra/arquivosStruct001111DeletarFuncionarios.c
atividadeExtra/arquivosStruct00CadastroFuncionarios (1).c
atividade01/exercicio01 - Copia (4).c
atividade01/exercicio01 - Copia (7).c
atividade01/exercicio01 - Copia (8).c
