/Exercicios-Primeiro-Semestre.dev
/Exercicios-Primeiro-Semestre.layout
*.exe
*.exe
*.exe
*.clg
atividadeSupervisionada02/ativ02ex09.png
*.zip
*.cpp
*.dev
*.layout
atividadeExtra/dados_funcionarios.txt
atividadeExtra/dados_funcionarios4.txt
atividadeExtra/dados_funcionarios.txt
atividadeExtra/dados_funcionarios - Copia.bin
atividadeExtra/dados_funcionarios1.bin
atividadeExtra/dados_funcionarios.txt
atividadeExtra/dados_funcionarios0.bin
atividadeExtra/dados_funcionarios1 - Copia.bin
atividadeExtra/dados_funcionarios2.txt
atividadeExtra/dados_funcionarios2 - Copia.txt
atividadeExtra/dados_funcionarios2.txt
atividadeExtra/dados_funcionarios3.txt
atividadeExtra/dados_funcionarios2.txt
atividadeExtra/dados_funcionarios.txt
atividadeExtra/dados_funcionarios.txt
atividadeExtra/dados_funcionarios0.txt
atividadeExtra/dados_funcionarios3.txt
atividadeExtra/dados_funcionarios2.txt
atividadeExtra/arquivosStruct001111DeletarFuncionarios.c
atividadeExtra/arquivosStruct00CadastroFuncionarios (1).c
atividade01/exercicio01 - Copia (4).c
atividade01/exercicio01 - Copia (7).c
atividade01/exercicio01 - Copia (8).c
arquivos (1)/arq1.txt
arquivos (1)/teste.txt
atividadeExtra/maiusculo (1).txt
